* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Didot", serif; 
}

/* Body  */
body {

 
    background: url("homecoll/bg-satin.jpg") center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
   
}

/* Header  */
header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  z-index: 100;
}

.right-section a {
  color: #333;
  margin-left: 18px;
  font-size: 16px;
}

.right-section a:hover {
  opacity: 0.7;
}

/* LOGIN CONTAINER */
.login-container {
  width: 400px;
  margin: auto;
  padding: 40px 35px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 1px;
  color: #222;
}

/* INPUTS */
.input-box {
  margin-bottom: 20px;
}

.input-box label {
  font-size: 14px;
  color: #444;
  display: block;
  margin-bottom: 6px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 8px;
  outline: none;
  transition: 0.2s;
}

.input-box input:focus {
  border-color: black;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #333;
}

/* REGISTER LINK */
.register-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-text a {
  color: black;
  text-decoration: underline;
}
